// Variables
$base-font-family: "Lato", "Helvetica", "Arial", sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5em;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-bold: 900;

$spacing-unit: 24px;

// Import components
@import "leaflet/leaflet";
@import "sidebar";
@import "leaflet-awesome/leaflet.awesome-markers";

// Basic styles
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $font-weight-regular;
}

@media screen and (max-width: 768px){
  #map-container {
    #map-sidebar {
      height: 66vh;
    }
  }

  .leaflet-container {
    height: 33vh;
  }
}

@media screen and (min-width: 769px){
  #map-container {
    #map-sidebar {
      width: 34%;
      float: right;
      height: 100vh;
      position: relative;
    }
  }

  .leaflet-container {
    height: 98vh;
    width: 66%;
    float: left;
  }
}
