@import "leaflet/leaflet";
@import "sidebar";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media screen and (max-width: 768px){
  #map-container {
    #map-sidebar {
      height: 66vh;
    }
  }

  .leaflet-container {
    height: 33vh;
  }
}

@media screen and (min-width: 769px){
  #map-container {
    #map-sidebar {
      width: 33%;
      float: right;
      height: 100vh;
      position: relative;
    }
  }

  .leaflet-container {
    height: 98vh;
    width: 66%;
    float: left;
  }
}
