@import "leaflet/leaflet";

@media screen and (max-width: 768px){
  #map-container {
    #map-sidebar {
    }
  }
}

@media screen and (min-width: 769px){
  #map-container {
    #map-sidebar {
      width: 33%;
      float: right;
    }
  }

  .leaflet-container {
    height: 98vh;
    width: 66%;
    float: left;
  }
}
