@import "colorscheme";

#location-header {
  padding-top: 10px;
  height: 3.5em;
  background-color: $eviction-red;

  #left-nav-button {
    float: left;
    padding-left: 5px;
  }

  #right-nav-button {
    float: right;
    padding-right: 5px;
  }

  #title {
    text-align: center;
    display: inline-block;
    width: 78%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $font-white;
  }

  i {
    display: inline-block;
    color: $font-white;
  }

  .disabled {
    color: $disabled !important;
  }
}

#map-sidebar {
  position: relative;
}

.story-content-wrapper {
  top: 5em;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
}

#story-content {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;

  $table-border-style: 1px solid $background-grey;

  table#story-basic-info {
    width: 100%;
    border-collapse: collapse;

    tr {
      border-top: $table-border-style;
      border-bottom: $table-border-style;

      td {
        border-right: $table-border-style;
      }
      td:last-child {border-right: none; }
    }
    tr:first-child { border-top: none; }
    tr:last-child { border-bottom: none; }
    #rent-row {
      color: $eviction-red;
    }
  }
}

// mobile specific styling
@media screen and (max-width: 768px){
  #story-content {
    padding-left: 15px;
  }
}

.video-container {
  width: 100%;
}
