#location-header {
  padding-top: 10px;

  #left-nav-button {
    float: left;
  }

  #right-nav-button {
    float: right
  }

  #address {
    text-align: center;
    display: inline-block;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  i {
    display: inline-block;
  }

  .disabled {
    color: #F2F2F2;
  }
}

#story-content {
  .video-container {
    width: 100%;
  }
}
