#location-header {
  padding-top: 10px;

  #left-nav-button {
    float: left;
  }

  #right-nav-button {
    float: right
  }

  #title {
    text-align: center;
    display: inline-block;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  i {
    display: inline-block;
  }

  .disabled {
    color: #F2F2F2;
  }
}

#story-content {
  padding-top: 10px;

  .video-container {
    width: 100%;
  }
}

.react-sanfona-item-title {
  font-weight: 600;
  font-size: 20px;
  border-bottom-width: 1px;
  border-bottom-color: #F2F2F2;


}
