@import "colorscheme";

#location-header {
  height: $spacing-unit*2;
  background-color: $eviction-red;

  #left-nav-button {
    float: left;
    padding-left: $spacing-unit/4;
  }

  #right-nav-button {
    float: right;
    padding-right: $spacing-unit/4;
  }

  #title {
    text-align: center;
    display: inline-block;
    width: 85%;
    margin-top: $spacing-unit/2;
    margin-bottom: $spacing-unit/2;
    color: $font-white;
    font-size: $base-font-size*1.125;
  }

  i {
    display: inline-block;
    color: $font-white;
  }

  .disabled {
    color: $disabled !important;
  }
}

#map-sidebar {
  position: relative;
  font-family: $base-font-family;
}

.story-content-wrapper {
  top: $spacing-unit*2;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll; /* has to be scroll, not auto. See: https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/ */
  -webkit-overflow-scrolling: touch;
}

#story-content {
  margin: 0;
  padding: $spacing-unit $spacing-unit $spacing-unit*3 $spacing-unit;
  
  img {
    width: 100%;
    height: auto;
  }

  h3 {
    font-size: $base-font-size*1.5;
    font-weight: $font-weight-light;
  }

  a,
  %link {
    color: $link-color;
    font-weight: $font-weight-bold;
    text-decoration: none;
    transition: all ease 200ms;
    &:hover {
      color: darken($link-color, 20%);
      text-decoration: underline;
    }
  }

  $table-border-style: 1px solid $background-grey;

  table#story-basic-info {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: $spacing-unit;

    tr {
      border-top: $table-border-style;
      border-bottom: $table-border-style;

      td {
        border-right: $table-border-style;
        padding: $spacing-unit/2;
      }
      
      td:first-child {
        text-align: right;
        width: 25%;
      }
      
      td:last-child {
        border-right: none; 
      }
    }
    
    tr:first-child { 
      border-top: none;   
    }
    
    tr:last-child { 
      border-bottom: none; 
    }
    
    #rent-row td:first-child {
      color: $eviction-red;
      font-weight: $font-weight-bold;  
    }
  }

  #neighborhood-button {
    margin-top: $spacing-unit;
    text-align: center;
    button {
      border: 0;
      display: inline-block;
      margin: 0;
      padding: 0;
      background: transparent;
      a {
        display: inline-block;
        transition: all ease 400ms;
        background: $eviction-red;
        font-weight: $font-weight-bold;
        font-size: 18px;
        border: 0;
        margin: 0;
        border-radius: $spacing-unit/4;
        padding: $spacing-unit/2 $spacing-unit;
        color: $font-white;
        text-decoration: none;
        &:hover {
          background: darken($eviction-red, 8%);
        }
      } 
    }
  }

  #story-media {
    .hidden {
      display: none;
    }
    .showhide-control {
      @extend %link;
      cursor: pointer;
    }
    .media-row {
      margin-right: 0;
    	margin-left: 0;
    	margin-bottom: $spacing-unit/2;
    }
    #video .media-row {
    	position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
    	padding-top: 0;
    	height: 0;
    }
    #video .media-row iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  }
  
  
}

// mobile specific styling
@media screen and (max-width: 768px){

}

.video-container {
  width: 100%;
}
