@import "colorscheme";

#location-header {
  height: $spacing-unit*2;
  background-color: $eviction-red;

  #left-nav-button {
    float: left;
    padding-left: 5px;
  }

  #right-nav-button {
    float: right;
    padding-right: 5px;
  }

  #title {
    text-align: center;
    display: inline-block;
    width: 85%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $font-white;
    font-size: 1.25em;
  }

  i {
    display: inline-block;
    color: $font-white;
  }

  .disabled {
    color: $disabled !important;
  }
}

#map-sidebar {
  position: relative;
  font-family: $font__family;
}

.story-content-wrapper {
  top: $spacing-unit*2;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
}

#story-content {
  margin: 0;
  padding: $spacing-unit $spacing-unit $spacing-unit*3 $spacing-unit;
  
  img {
    width: 100%;
    height: auto;
  }

  $table-border-style: 1px solid $background-grey;

  table#story-basic-info {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: $spacing-unit;

    tr {
      border-top: $table-border-style;
      border-bottom: $table-border-style;

      td {
        border-right: $table-border-style;
        padding: $spacing-unit/2;
      }
      
      td:first-child {
        text-align: right;
        width: 25%;
      }
      
      td:last-child {
        border-right: none; 
      }
    }
    
    tr:first-child { 
      border-top: none;   
    }
    
    tr:last-child { 
      border-bottom: none; 
    }
    
    #rent-row td:first-child {
      color: $eviction-red;
      font-weight: $font__weight-bold;  
    }
  }

  #neighborhood-button {
    margin-top: $spacing-unit;
    text-align: center;
    button {
      border: 0;
      display: inline-block;
      margin: 0;
      padding: 0;
      background: transparent;
      a {
        display: inline-block;
        transition: all ease 400ms;
        background: $eviction-red;
        font-weight: $font__weight-bold;
        font-size: 1rem;
        border: 0;
        margin: 0;
        border-radius: $spacing-unit/4;
        padding: $spacing-unit/2 $spacing-unit;
        color: $font-white;
        text-decoration: none;
        &:hover {
          background: darken($eviction-red, 8%);
        }
      } 
    }
  }

  #story-media {
    .hidden {
      display: none;
    }
    .showhide-control {
      color: $link-color;
      font-weight: $font__weight-bold;
      cursor: pointer;
    }
  }
}

// mobile specific styling
@media screen and (max-width: 768px){

}

.video-container {
  width: 100%;
}
